.footer {
  width: 100%;
  background-color: #33353C;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  top: 0;
  position: sticky;
  height: 80px;
  align-items: center;
  border-top: solid 1px grey;
}

.jake {
  max-height: 50%;
  display: flex;
  color: #f4d35e;
  align-items: center;
  font-weight: bold;
}

.linked-in, .github{
  height: 30px;
  color: #f4d35e;
}

.linked-in {
  padding-left: 10px;
  padding-right: 10px;
  color: #33353C;
}

