.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: solid 2px #f4d35e;
  width: 400px;
  align-self: center;
  justify-self: center;
  box-shadow:  0px 0px 20px #f4d35e;
  padding: 10px;
}

.contact-button {
  width: 50px;
  align-self: center;
  margin: 10px;
}

.form-title, .name-input, .email-input, .message-input {
  margin: 10px;
}


.message-input {
  position: relative;
  right: 20px;
}

.name-input {
  position: relative;
  left: -4px;
}

.m-input, .e-input, .n-input {
  margin-left: 5px;
}
