.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barbacide-div, .playlist-div, .record-review-div {
  border: 2px solid #f4d35e;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow:  0px 0px 20px #f4d35e;
  transition: .5s
}

.live-site, .code-repository {
  width: 125px;
  align-self: center;
  margin: 10px;
}